.width-left-bar {
  width: 260px;
}

.icon-1_5em{
  font-size: 1.5em;
}

p {
  color: white;
}

a{
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

li a:active {
  color: green;
  border: 1px solid green;
}

ul{
  padding: 0;
  list-style-position: none;
}