<div class="vh-100 d-flex flex-column align-items-center justify-content-around accordion width-left-bar bg-color-blue"
    [ngStyle]="!show_nav_bar ? {'width': '50px'} : {}">

    <div *ngIf="show_nav_bar">
        <div class="d-flex flex-column align-items-center flex-gap-20px">
            <img src="assets/images/Logo.png" alt="logo_labmedical">
            <img src="assets/images/Title.png" alt="logo_title_labmedical">
        </div>

        <div class="w-100 d-flex flex-column align-items-start ps-4 pt-5 flex-gap-20px">

            <ul class="w-100 d-flex flex-column flex-gap-7px">
                <p>Geral</p>
                <li>
                    <a class="nav-link d-flex flex-row align-items-center justify-content-between px-2 bg-color-blue"
                        routerLink="home" routerLinkActive="active">
                        <i class="bi bi-bar-chart icon-1_5em text-white"></i>
                        <p class="text-end">Inicio</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link d-flex flex-row align-items-center justify-content-between px-2 bg-color-blue"
                        routerLink="logout" routerLinkActive="active">
                        <i class="bi bi-box-arrow-right icon-1_5em text-white"></i>
                        <p class="text-end">Sair</p>
                    </a>
                </li>
            </ul>

            <div class="w-100 d-flex flex-column flex-gap-7px">
                <p>Pacientes</p>
                <li>
                    <a class="nav-link d-flex flex-row align-items-center justify-content-between px-2 bg-color-blue"
                        routerLink="registration" routerLinkActive="active">
                        <i class="bi bi-journal-plus icon-1_5em text-white"></i>
                        <p class="text-end">Cadastrar</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link d-flex flex-row align-items-center justify-content-between px-2 bg-color-blue"
                        routerLink="list_medical_record" routerLinkActive="active">
                        <i class="bi bi-list-ul icon-1_5em text-white"></i>
                        <p class="text-end">Listar Protuario</p>
                    </a>
                </li>
            </div>

            <div class="w-100 d-flex flex-column flex-gap-7px">
                <p>Exames</p>
                <li>
                    <a class="nav-link d-flex flex-row align-items-center justify-content-between px-2 bg-color-blue"
                        routerLink="registration_medical_appointment" routerLinkActive="active">
                        <i class="bi bi-journal-plus icon-1_5em text-white"></i>
                        <p class="text-end">Cadastrar Consulta</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link d-flex flex-row align-items-center justify-content-between px-2 bg-color-blue"
                        routerLink="registration_medical_exam" routerLinkActive="active">
                        <i class="bi bi-list-ul icon-1_5em text-white"></i>
                        <p class="text-end">Cadastrar Exame</p>
                    </a>
                </li>
            </div>

        </div>
    </div>


    <div class="d-flex flex-row align-items-center flex-gap-7px">
        <p *ngIf="show_nav_bar">Encolher Menu</p>
        <button class="bg-transparent" (click)="changeNavBarvisibility()"><i
                class="bi bi-layout-split  icon-1_5em text-white"></i></button>
    </div>

</div>