<div class="d-flex flex-row vh-100">
    <div class="d-flex flex-column align-items-center justify-content-around" style="flex: 2;">
        <img class="w-75" src="assets/images/Medical_Record_Logo.png" alt="">
        <div class="d-flex flex-row w-100 justify-content-end pe-5">
            <img class="" src="assets/images/lab365 logo.png" alt="">
        </div>
    </div>

    <div style="border-left: 6px solid blue; height: 100%;"></div>

    <div class="d-flex flex-column align-items-center justify-content-between" style="flex: 1.5;">
        <div class="d-flex flex-row align-items-center justify-content-end p-3 w-100 flex-gap-15px">
            <p>Não Possui uma conta?</p>
            <button class="fw-bold px-5 py-1 botao-criar">Criar Conta</button>
        </div>


        <div class="d-flex flex-column w-75">
            <h1 class="fw-bold pb-5" style="font-size: 500%;">Login</h1>

            <form class="d-flex flex-column mb-4 flex-gap-15px">
                <div>
                    <label class="fw-bold font-color-gray" for="">E-mail</label>
                    <input class="form-control" type="text">
                </div>

                <div>
                    <label class="fw-bold font-color-gray" for="">Senha</label>
                    <input class="form-control" type="text">
                </div>

                <button class="mt-3 botao-login">Entrar</button>
                <p class="text-center">Esqueceu a senha?</p>
            </form>
        </div>

        <div class="d-flex flex-row w-100 justify-content-end pe-5">
            <img class="" src="assets/images/LABMedical Logo.png" alt="">
        </div>
        

    </div>
</div>