/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  box-sizing: border-box;
  border: 0;
}

.container_custom{
  padding: 3vh 5vw 0 5vw ;
}

.bg-color-blue {
  background-color: #3c86ad;
}

.bg-color-light-blue {
  background-color: #1975A580;
}

.font-color-gray{
  color: #56585a;
}

.icon-4em {
  font-size: 4em;
}

.icon-2em{
  font-size: 2em;
}

.icon-1_5em{
  font-size: 1.5em;
}


p {
  margin: 0px;
  padding: 0px;
}

.flex-gap-50px{
  gap:50px;
}

.flex-gap-20px{
  gap:20px;
}

.flex-gap-15px{
  gap: 15px;
}

.flex-gap-7px{
  gap: 7px;
}

.w-60 {
  width: 60%;
}

.button_salvar,.button_deletar{
  height: 80%;
  width: 150px;
}

.button_deletar{
  background-color: transparent;
  border: 1px solid #F55F1F;
  color: #F55F1F;
  border-width: 2px;
  font-weight: bold;
}

.button_salvar{
  background-color: #003478;
  border: 1px solid #003478;
  color: white;
  border-width: 2px;
  font-weight: bold;
}

.form-check-label {
  color: #3c86ad;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
  border: 1px solid red;
}