<div style="position: relative; padding: 0;">
    <div class="container_custom">
        <ng-container [ngSwitch]="frase_apos_submit">
            <div *ngSwitchCase="'new_user'" class="alert alert-success d-flex align-items-center flex-gap-15px"
                role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
                <div>
                    Novo Usuario Salvo com sucesso
                </div>
            </div>

            <div *ngSwitchCase="'edit_user'" class="alert alert-primary d-flex align-items-center flex-gap-15px"
                role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                    aria-label="Warning:">
                    <path
                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                <div>
                    Usuario Editado com sucesso
                </div>
            </div>

            <div *ngSwitchCase="'error'" class="alert alert-danger d-flex align-items-center flex-gap-15px"
                role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
                <div>
                    Erro na API de Cadastro
                </div>
            </div>
        </ng-container>
        <h2 class="font-color-gray">Preencha os campos para cadastrar</h2>

        <form class="d-flex flex-column shadow px-5 py-3 mb-3 bg-body-tertiary rounded"
            [ngStyle]="registration_edit_form.get('switch_edit')?.value ? {'border': '5px solid green'} : {}"
            [formGroup]="registration_edit_form" (ngSubmit)="onSubmit()">

            <div class="d-flex flex-row justify-content-between">
                <h5 class="fs-3 fw-bold text-black">Identificação</h5>
                <div class="d-flex flex-row align-items-center flex-gap-15px">
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Editar</label>
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                            formControlName="switch_edit">
                    </div>
                    <button class="button_deletar" [disabled]="!edit_mode">Deletar</button>
                    <button class="button_salvar"
                        [disabled]="(edit_mode && !registration_edit_form.get('switch_edit')?.value)"
                        type="submit">Salvar</button>
                </div>
            </div>

            <div class="d-flex flex-row align-items-center justify-content-between pt-3 flex-gap-15px">
                <div class="w-60 mb-3">
                    <label for="nome" class="form-label">Nome Completo</label>
                    <input type="text" class="form-control" id="nome" formControlName="nome">
                    <div
                        *ngIf="registration_edit_form.controls['nome'].invalid && (registration_edit_form.controls['nome'].dirty || registration_edit_form.controls['nome'].touched)">
                        <p class="text-danger"
                            *ngIf="(registration_edit_form.get('nome')?.hasError('maxlength') || registration_edit_form.get('nome')?.hasError('minlength'))">
                            Nome deve ter entre 8 e 64 caracteres </p>
                        <p class="text-danger" *ngIf="registration_edit_form.controls['nome'].errors?.['required']">
                            Nome é obrigatorio
                        </p>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="genero" class="form-label">Gênero</label>
                    <select class="form-select" id="genero" name="genero" formControlName="genero">
                        <option value="" selected disabled hidden>Selecione uma categoria</option>
                        <option value="masculino">Masculino</option>
                        <option value="feminino">Feminino</option>
                        <!-- <option *ngFor="let item of categorias" value="{{item}}">{{item}}</option> -->
                    </select>
                    <div
                        *ngIf="registration_edit_form.controls['genero'].invalid && (registration_edit_form.controls['genero'].dirty || registration_edit_form.controls['genero'].touched)">
                        <p class="text-danger" *ngIf="registration_edit_form.controls['genero'].errors?.['required']">
                            Genero é obrigatorio
                        </p>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="data" class="form-label">data</label>
                    <input type="text" class="form-control" id="data" placeholder="Ex: 01/01/2001"
                        formControlName="data">
                    <div
                        *ngIf="registration_edit_form.controls['data'].invalid && (registration_edit_form.controls['data'].dirty || registration_edit_form.controls['data'].touched)">
                        <p class="text-danger" *ngIf="registration_edit_form.get('data')?.hasError('dateInvalid')">
                            Data Invalida, siga o padrão: dd/MM/yyyy</p>
                        <p class="text-danger" *ngIf="registration_edit_form.controls['data'].errors?.['required']">
                            Data é obrigatorio
                        </p>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-row align-items-center justify-content-between pt-3 flex-gap-15px">
                <div class="mb-3">
                    <label for="cpf" class="form-label">CPF</label>
                    <input type="text" class="form-control" id="cpf" formControlName="cpf" [maxLength]="11"
                        [value]="registration_edit_form.get('cpf')?.value | mascaraCpf">
                    <div
                        *ngIf="registration_edit_form.controls['cpf'].invalid && (registration_edit_form.controls['cpf'].dirty || registration_edit_form.controls['cpf'].touched)">
                        <p class="text-danger"
                            *ngIf="(registration_edit_form.get('cpf')?.hasError('maxlength') || registration_edit_form.get('cpf')?.hasError('minlength')) || registration_edit_form.get('cpf')?.hasError('invalidCpf')">
                            Nescessario ter 11 numeros</p>
                        <p class="text-danger" *ngIf="registration_edit_form.controls['cpf'].errors?.['required']">
                            Cpf é obrigatorio
                        </p>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="rg" class="form-label">RG</label>
                    <input type="text" class="form-control" id="rg" formControlName="rg">
                    <div
                        *ngIf="registration_edit_form.controls['rg'].invalid && (registration_edit_form.controls['rg'].dirty || registration_edit_form.controls['rg'].touched)">
                        <p class="text-danger"
                            *ngIf="registration_edit_form.get('rg')?.hasError('maxlength') || registration_edit_form.get('rg')?.hasError('pattern')">
                            Nescessario ter no maximo 20 caracteres numerricos</p>
                        <p class="text-danger" *ngIf="registration_edit_form.controls['rg'].errors?.['required']">
                            RG é obrigatorio
                        </p>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="estado_civil" class="form-label">Estado Civil</label>
                    <select class="form-select" id="estado_civil" name="estado_civil" formControlName="estado_civil">
                        <option value="" selected disabled hidden>Selecione o Estado Civil</option>
                        <option value="casado">Casado(a)</option>
                        <option value="solteiro">Solteiro(a)</option>
                        <option value="separado">Separado(a)</option>
                        <option value="vuivo">Vuivo(a)</option>
                        <!-- <option *ngFor="let item of categorias" value="{{item}}">{{item}}</option> -->
                    </select>
                    <div
                        *ngIf="registration_edit_form.controls['estado_civil'].invalid && (registration_edit_form.controls['estado_civil'].dirty || registration_edit_form.controls['estado_civil'].touched)">
                        <p class="text-danger"
                            *ngIf="registration_edit_form.controls['estado_civil'].errors?.['required']">
                            Estado Civil é obrigatorio
                        </p>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone</label>
                    <input type="text" class="form-control" id="telefone" formControlName="telefone">
                    <div
                        *ngIf="registration_edit_form.controls['telefone'].invalid && (registration_edit_form.controls['telefone'].dirty || registration_edit_form.controls['telefone'].touched)">
                        <p class="text-danger"
                            *ngIf="registration_edit_form.controls['telefone'].errors?.['invalidTelefone']">
                            Telefone Deve seguir: (99) 9 9999-99999
                        </p>
                        <p class="text-danger" *ngIf="registration_edit_form.controls['telefone'].errors?.['required']">
                            Estado Civil é obrigatorio
                        </p>
                    </div>
                </div>
                <div class="w-25 mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                </div>
            </div>

            <h6 class="fs-5 fw-bold font-color-gray">Contatos de Emergencia:</h6>
            <div class="d-flex flex-column pt-3 flex-gap-15px" formArrayName="array_contatos_emergencia">
                <div class="d-flex flex-row justify-content-start align-items-end flex-gap-15px"
                    *ngFor="let contatos_emergencia_controls of array_contatos_emergencia_controls; let i = index"
                    [formGroupName]="i" style="margin-top: 10px;">
                    <div class="w-25">
                        <label for="nome_contato_emergencia" class="form-label">Nome do Contato de Emergencia</label>
                        <input type="text" title="" class="form-control" formControlName="nome_contato_emergencia">
                    </div>
                    <div class="w-25">
                        <label for="numero_telefone_contato_emergencia" class="form-label">Telefone do Contato de
                            Emergencia</label>
                        <input type="text" title="" class="form-control"
                            formControlName="numero_telefone_contato_emergencia">
                        <div
                            *ngIf="retornoControleByIndexTelefoneContatoEmergencia(i).controls['numero_telefone_contato_emergencia'].invalid && (retornoControleByIndexTelefoneContatoEmergencia(i).controls['numero_telefone_contato_emergencia'].dirty || retornoControleByIndexTelefoneContatoEmergencia(i).controls['numero_telefone_contato_emergencia'].touched)">
                            <p class="text-danger"
                                *ngIf="retornoControleByIndexTelefoneContatoEmergencia(i).controls['numero_telefone_contato_emergencia'].errors?.['invalidTelefone']">
                                Telefone Deve seguir: (99) 9 9999-99999
                            </p>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" (click)="onDeleteContatos_Emergencia(i)">X</button>
                </div>
                <button class="btn btn-success" style="width: 300px; height: 50px;" type="button"
                    (click)="onAddContatos_Emergencia()">Adicionar Contato de Emergencia</button>
            </div>


            <h5 class="fs-3 fw-bold text-black pt-5">Convênio</h5>
            <div class="d-flex flex-row align-items-center justify-content-between pt-3 flex-gap-15px">
                <div class="mb-3">
                    <label for="convenio" class="form-label">Convênio</label>
                    <select class="form-select" id="convenio" name="convenio" formControlName="convenio">
                        <option value="" selected disabled hidden>Selecione uma convenio</option>
                        <option value="unimed">Unimed</option>
                        <option value="plamev">Plamev</option>
                        <option value="sem_plano">Sem Plano</option>
                        <!-- <option *ngFor="let item of categorias" value="{{item}}">{{item}}</option> -->
                    </select>
                </div>
                <div class="w-60 mb-3">
                    <label for="numero_carteira_covenio" class="form-label">Número da Carteira</label>
                    <input type="text" class="form-control" id="numero_carteira_covenio"
                        formControlName="numero_carteira_covenio">
                </div>

                <div class="mb-3">
                    <label for="validade_carteira_covenio" class="form-label">Validade da Carteira</label>
                    <input type="text" class="form-control" id="validade_carteira_covenio" placeholder="Ex: 01/01/2001"
                        formControlName="validade_carteira_covenio">
                </div>
            </div>

            <h6 class="fs-5 fw-bold font-color-gray">Alergias:</h6>
            <div class="d-flex flex-column pt-3 flex-gap-15px" formArrayName="array_alergias">
                <div class="d-flex flex-row justify-content-start align-items-end flex-gap-15px"
                    *ngFor="let alergias_controls of array_alergias_controls; let j = index" [formGroupName]="j"
                    style="margin-top: 10px;">

                    <div class="w-25">
                        <label for="tipo_alergia" class="form-label">Tipo da Alergia</label>
                        <input type="text" title="" class="form-control" formControlName="tipo_alergia">
                    </div>
                    <button type="button" class="btn btn-danger" (click)="onDeleteAlergias(j)">X</button>
                </div>
                <button class="btn btn-success" style="width: 300px; height: 50px;" type="button"
                    (click)="onAddAlergias()">Adicionar Alergia</button>
            </div>

            <h5 class="fs-3 fw-bold text-black pt-5">Dados de Endereço</h5>
            <div *ngIf="buscando_endereco_api" class="d-flex align-items-center justify-content-start">
                <strong>Carregando...</strong>
                <div class="spinner-border m-1" role="status" aria-hidden="true"></div>
            </div>
            <div *ngIf="erro_buscando_endereco_api" class="d-flex align-items-center justify-content-start">
                <div class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
                    <h3>Erro na requisição na API de backend</h3>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-between pt-3 flex-gap-15px">
                <div class="w-25 mb-3">
                    <label for="cep" class="form-label">CEP</label>
                    <input type="text" class="form-control" id="cep" formControlName="cep" placeholder="Ex: 21938475"
                        (keyup)="callViaApiAfterCompleteCep()">
                    <p class="text-danger" *ngIf="erro_cep_nao_valido">
                        Cep não valido</p>
                    <div
                        *ngIf="registration_edit_form.controls['cep'].invalid && (registration_edit_form.controls['cep'].dirty || registration_edit_form.controls['cep'].touched)">
                        <p class="text-danger"
                            *ngIf="(registration_edit_form.get('cep')?.hasError('maxlength') || registration_edit_form.get('cep')?.hasError('minlength'))">
                            Tamanho do CEP deve ser de 8 numeros</p>
                        <p class="text-danger" *ngIf="registration_edit_form.controls['cep'].errors?.['required']">
                            Cep é obrigatorio
                        </p>
                    </div>
                </div>
                <div class="w-75 mb-3">
                    <label for="cidade" class="form-label">Cidade</label>
                    <input type="text" class="form-control" id="cidade" formControlName="cidade">
                </div>
                <div class="mb-3">
                    <label for="estado" class="form-label">Estado</label>
                    <input type="text" class="form-control" id="estado" formControlName="estado">
                </div>
            </div>

            <div class="d-flex flex-row align-items-center justify-content-between pt-3 flex-gap-15px">
                <div class="w-100 mb-3">
                    <label for="logradouro" class="form-label">Logradouro</label>
                    <input type="text" class="form-control" id="logradouro" formControlName="logradouro">
                </div>
                <div class="mb-3">
                    <label for="numero" class="form-label">Numero</label>
                    <input type="text" class="form-control" id="numero" formControlName="numero">
                </div>
            </div>

            <div class="d-flex flex-row align-items-center justify-content-between pt-3 flex-gap-15px">
                <div class="mb-3">
                    <label for="complemento" class="form-label">Complemento</label>
                    <input type="text" class="form-control" id="complemento" formControlName="complemento">
                </div>
                <div class="mb-3">
                    <label for="bairro" class="form-label">Bairro</label>
                    <input type="text" class="form-control" id="bairro" formControlName="bairro">
                </div>
            </div>
        </form>
    </div>
    <app-loading-modal *ngIf="carregando_form"></app-loading-modal>
</div>