<div class="container_custom">
    <ng-container [ngSwitch]="frase_apos_submit">
        <div *ngSwitchCase="'new_appointment'" class="alert alert-success d-flex align-items-center flex-gap-15px"
            role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <div>
                Nova Consulta Salva com sucesso
            </div>
        </div>

        <div *ngSwitchCase="'edit_appointment'" class="alert alert-primary d-flex align-items-center flex-gap-15px"
            role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                aria-label="Warning:">
                <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <div>
                Consulta Editada com sucesso
            </div>
        </div>

        <div *ngSwitchCase="'error'" class="alert alert-danger d-flex align-items-center flex-gap-15px"
            role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <div>
                Erro na API
            </div>
        </div>

        <div *ngSwitchCase="'delete_appointment'" class="alert alert-warning d-flex align-items-center flex-gap-15px"
            role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <div>
                Consulta Deletada Com Sucesso
            </div>
        </div>
    </ng-container>
    
    <app-filter-search-bar-responsive
        (emitir_paciente_selecionado)="paciente_is_selected($event)" [is_disabled]="disable_input_search"></app-filter-search-bar-responsive>

    <form *ngIf="paciente_selected" class="d-flex flex-column shadow px-5 py-3 mb-3 bg-body-tertiary rounded"
        [ngStyle]="form_cadatro_consulta.get('switch_edit')?.value ? {'border': '5px solid green'} : {}"
        [formGroup]="form_cadatro_consulta" (ngSubmit)="onSubmit()">

        <div class="d-flex flex-row justify-content-between">
            <h5 class="fs-3 fw-bold text-black">Consulta do Paciente {{paciente_selected.nome}}</h5>
            <div class="d-flex flex-row align-items-center flex-gap-15px">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Editar</label>
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        formControlName="switch_edit">
                </div>

                <button class="button_deletar" [disabled]="!edit_mode"
                    (mousedown)="deleteAppointment()">Deletar</button>
                <button class="button_salvar"
                    [disabled]="(edit_mode && !form_cadatro_consulta.get('switch_edit')?.value)"
                    type="submit">Salvar</button>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center justify-content-between pt-3 flex-gap-15px">
            <div class="w-60 mb-3">
                <label for="motivo" class="form-label">Motivo da Consulta</label>
                <input type="text" class="form-control" id="motivo" formControlName="motivo">
                <div *ngIf="getIfFormIsDirtyOrTouched('motivo')">
                    <p class="text-danger">{{getErrorMessageMotivo()}}</p>
                </div>
            </div>

            <mat-form-field appearance="fill" [hideRequiredMarker]="true">
                <mat-label>Data da Consulta</mat-label>
                <input matInput [min]="min_date_picker" [matDatepicker]="picker" formControlName="data_da_consulta">
                <mat-hint>DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
                <mat-error
                    *ngIf="form_cadatro_consulta.get('hora_da_consulta')?.invalid">{{getErrorMessageDatePicker()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                <mat-label>Hora da Consulta</mat-label>
                <input matInput type="time" #time formControlName="hora_da_consulta">
                <mat-error
                    *ngIf="form_cadatro_consulta.get('hora_da_consulta')?.invalid">{{getErrorMessageDateTime()}}</mat-error>
            </mat-form-field>
        </div>

        <div>
            <label class="form-label" for="descricao">Descrição do Problema</label>
            <textarea class="w-100" id="descricao" name="descricao" rows="5" cols="33"
                formControlName="descricao"></textarea>
            <div *ngIf="getIfFormIsDirtyOrTouched('descricao')">
                <p class="text-danger">{{getErrorMessageDescricao()}}</p>
            </div>
        </div>

        <div>
            <label class="form-label" for="medicacao">Medicação Receitada</label>
            <textarea class="w-100" id="medicacao" name="medicacao" rows="5" cols="33"
                formControlName="medicacao"></textarea>
                
        </div>

        <div>
            <label class="form-label" for="dosagem">Dosagem e Precauções</label>
            <textarea class="w-100" id="dosagem" name="dosagem" rows="5" cols="33" formControlName="dosagem"></textarea>
            <div *ngIf="getIfFormIsDirtyOrTouched('descricao')">
                <p class="text-danger">{{getErrorMessageDosagem()}}</p>
            </div>
        </div>


    </form>
</div>